<?php
/* Servers configuration */
$i = 0;

/* Server: localhost [1] */
$i++;
$cfg['Servers'][$i]['only_db'] = '';
$cfg['Servers'][$i]['hide_db'] = 'sys';

/* End of servers configuration */

$cfg['blowfish_secret'] = \sodium_hex2bin('{{ blowfish_secret }}');
$cfg['DefaultLang'] = 'en';
$cfg['ServerDefault'] = 1;
$cfg['UploadDir'] = '';
$cfg['SaveDir'] = '';

$sessionValidity = 3600 * 24 * 365; // one year
$cfg['LoginCookieValidity'] = $sessionValidity;

