services:

  traefik:
    image: traefik:v2.11
    ports:
      - "80:80"
      - "443:443"
      - "8082:8082"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /{{ base_dir }}/traefik/config/traefik.yml:/etc/traefik/traefik.yml:ro
      - /{{ base_dir }}//traefik/config/dynamic/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - /{{ base_dir }}/certs:/certs:ro
      - /{{ base_dir }}//traefik/logs:/logs
    networks:
      - global_net
    deploy:
      placement:
        constraints: [node.role == manager]
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dashboard.rule=Host(`traefik.tst.local`)"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.routers.dashboard.entrypoints=websecure"
        - "traefik.http.routers.dashboard.tls=true"
        - "traefik.http.routers.dashboard.middlewares=auth@file"
        #- "traefik.http.routers.dashboard.tls.certresolver=dummy"
        - "traefik.http.services.dummy.loadbalancer.server.port=9999"


networks:
  global_net:
    external: true

