---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: main-ip-pool
  namespace: metallb-system
spec:
  addresses:
    - {{ metallb_ip_range }}

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-advertisement
  namespace: metallb-system
spec: {}

