services:
  nginx:
    container_name: nginx
    build: ./nginx
    ports:
      - "90:90"
      - "91:91"
      - "92:92"
    volumes:
      - ./www:/var/www/html
      - ./nginx/cache:/var/cache/nginx
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/mobile-api.conf:/etc/nginx/conf.d/mobile-api.conf:ro
      - ./nginx/mobile-api_92.conf:/etc/nginx/conf.d/mobile-api_92.conf:ro
      - ./nginx/lua:/etc/nginx/lua
    depends_on:
      - php

  php:
    container_name: php
    build: ./php
    volumes:
      - ./www:/var/www/html

  # only manual run
  # docker compose run --rm tester   #run all
  # docker compose run --rm tester pytest test_cache.py::test_dynamic_uri_cache -v    # one certain test
  tester:
    build:
      context: ./tests
    profiles: ["testing"]
    volumes:
      - ./tests:/app
      - ./nginx/lua:/etc/nginx/lua:ro
      - ./nginx/mobile-api.conf:/etc/nginx/conf.d/mobile-api.conf:ro
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - nginx

