services:
  nginx:
    build: ./nginx
    ports:
      - "90:90"
    volumes:
      - ./www:/var/www/html
      - ./nginx/cache:/var/cache/nginx
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php

  php:
    build: ./php
    volumes:
      - ./www:/var/www/html

