include '/etc/snort/snort_defaults.lua'
include '/etc/snort/snort_modules.lua'


ips = {
  include = "/etc/snort/rules/test.rules",
  include = "/etc/snort/rules/snort.rules",
    variables = {
      nets = {
        EXTERNAL_NET = 'any',
        HOME_NET = '192.168.1.0/24',
        TELNET_SERVERS = 'any',
        SMTP_SERVERS = 'any',
        HTTP_SERVERS = 'any',
        SQL_SERVERS = 'any',
        SIP_SERVERS = 'any'
      },
      ports = {
        HTTP_PORTS = HTTP_PORTS,
        FTP_PORTS = FTP_PORTS,
        SSH_PORTS = '22',
        TELNET_PORTS = '23',
        SMTP_PORTS = '25',
        FILE_DATA_PORTS = FILE_DATA_PORTS,
        ORACLE_PORTS = ORACLE_PORTS,
        SIP_PORTS = SIP_PORTS
     }
  }
}


file_logger =
{
    log_path = "/var/log/snort/",
    file_name = "alert.fast",
    limit = 0,
    max_size = 0,
    compression = 0
}

