Port 22
Protocol 2
#PermitRootLogin no
MaxAuthTries 6
PasswordAuthentication no
PermitEmptyPasswords no
PubkeyAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes  #no
#AllowTcpForwarding no
AllowAgentForwarding yes  #no
ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 30
#AllowUsers user1 user2 user3
#AllowUsers {% for user in bastion_allowed_users %}{{ user }} {% endfor %}

Subsystem       sftp    /usr/lib/openssh/sftp-server  #no line

