#!/bin/bash

BACKUP_DIR="/tmp/mysql_backup"
TIMESTAMP=$(date +%F_%H-%M)
mkdir -p $BACKUP_DIR

# Dump all databases
mysqldump --all-databases | gzip > $BACKUP_DIR/mysql_backup_$TIMESTAMP.sql.gz

# Rsync to bastion
rsync -az -e "ssh -i /path/to/your/private_key" --remove-source-files $BACKUP_DIR/ {{ backup_user }}@{{ bastion_ip }}:/srv/mysql_backups/

