version: '3.8'

services:
  app:
    image: serhiih2025/task-5_laravel:latest
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9000"]
      interval: 10s
      timeout: 3s
      retries: 3
    deploy:
      replicas: 2
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1               # по одному контейнеру за раз
        delay: 10s                   # пауза між оновленням наступного
        order: start-first           # ← ключовий параметр
        failure_action: rollback     # якщо нова версія не працює — відкат
    networks:
      - global_net
    environment:
      REDIS_HOST: redis
    volumes:
      - /home/deployer/current/task-5/laravel:/var/www
      - /home/deployer/shared/storage:/var/www/storage
networks:
  global_net:
    external: true


