filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/auth.log
      - /var/log/nginx/*.log
    fields:
      environment: "production"
      log_type: "system"
    fields_under_root: true

  - type: log
    enabled: true
    paths:
      - /var/log/syslog
    fields:
      environment: "production"
      log_type: "system_syslog"
    fields_under_root: true

  - type: log
    enabled: true
    paths:
      - /opt/project_prod/traefik/logs/access.log
    fields:
      environment: "production"
      log_type: "traefik_access"
    fields_under_root: true

  - type: journald
    enabled: true
    paths: []


# Output
output.logstash:
  hosts: ["{{ filebeat_ip }}:5044"]

