<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="0; url=/awstats.{{ awstats_domain }}.html" />
  <title>Redirecting to AWStats</title>
</head>
<body>
  <p>If you are not redirected automatically, follow this
     <a href="/awstats.{{ awstats_domain }}.html">link to AWStats</a>.
  </p>
</body>
</html>

